<div class="content-wrapper">
  <!-- Content Header (Page header) -->
 

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- KAYAN GRAFİK-->
      <div class="col-12">
        <div class="box box-inverse box-dark">
          <div class="box-body  tickers-block">
            <ul id="webticker-1">
              <li><i class="cc BTC"></i> GARAN <span class="text-yellow"> 7,67 ₺</span></li>
              <li><i class="cc BTC"></i> ADESE <span class="text-yellow"> 1,61 ₺</span></li>
              <li><i class="cc BTC"></i> KRDMD <span class="text-yellow"> 2.61 ₺</span></li>

            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">


      <div class="col-lg-5 col-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">En çok işlem görenler</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table id="example1" class="table table-striped table-bordered no-margin">
                <thead>
                  <tr class="bg-pale-dark">
                    <th>Para Birimi</th>
                    <th>Ücret</th>
                    <th>Değişim %</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <p class="font-size-18 no-margin">BTC</p>
                    </td>
                    <td>
                      <p class="no-margin"><span>$</span> 11,723.40</p>
                    </td>
                    <td class="no-wrap"><span class="badge badge-danger"><i class="fa fa-chevron-down"></i>
                        -15.20%</span></td>
                  </tr>
                  <tr>
                    <td>
                      <p class="font-size-18 no-margin">ETH</p>
                    </td>
                    <td>
                      <p class="no-margin"><span>$</span> 1,070.39</p>
                    </td>
                    <td class="no-wrap"><span class="badge badge-danger"><i class="fa fa-chevron-down"></i>
                        -11.74%</span></td>
                  </tr>
                  <tr>
                    <td>
                      <p class="font-size-18 no-margin">XRP</p>
                    </td>
                    <td>
                      <p class="no-margin"><span>$</span> 1.64</p>
                    </td>
                    <td class="no-wrap"><span class="badge badge-danger"><i class="fa fa-chevron-down"></i>
                        -16.44%</span></td>
                  </tr>
                  <tr>
                    <td>
                      <p class="font-size-18 no-margin">ADA</p>
                    </td>
                    <td>
                      <p class="no-margin"><span>$</span> 0.68</p>
                    </td>
                    <td class="no-wrap"><span class="badge badge-danger"><i class="fa fa-chevron-down"></i>
                        -5.91%</span></td>
                  </tr>
                  <tr>
                    <td>
                      <p class="font-size-18 no-margin">LTC</p>
                    </td>
                    <td>
                      <p class="no-margin"><span>$</span> 198.88</p>
                    </td>
                    <td class="no-wrap"><span class="badge badge-danger"><i class="fa fa-chevron-down"></i>
                        -15.74%</span></td>
                  </tr>
                  <tr>
                    <td>
                      <p class="font-size-18 no-margin">DASH</p>
                    </td>
                    <td>
                      <p class="no-margin"><span>$</span> 865.27</p>
                    </td>
                    <td class="no-wrap"><span class="badge badge-danger"><i class="fa fa-chevron-down"></i>
                        -16.47%</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>

      <div class="col-12 col-lg-3">



        <div *ngFor="let _data of specifiedData" class="box box-body bg-hexagons-dark  pull-up">
          <div class="media align-items-center p-0">
            <div class="text-center">
              <a href="#"><i class={{_data.icon}} size="+7" title="BTC"></i></a>
            </div>
            <div>
              <h3 class="no-margin">{{_data.name}}</h3>
            </div>
          </div>
          <div class="flexbox align-items-center mt-25">
            <div>
              <p class="no-margin">{{_data.value | number : '1.3-3'}} ₺</p>
            </div>
            <div class="text-right">
              <p class="no-margin"><span class="text-success">+5.35%</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div *ngFor="let _data of bist" class="box box-body pull-up">
          <div class="media align-items-center p-0">
            <div class="text-center">
              <a href="#"><i class={{_data.icon}} title="BTC"></i></a>
            </div>
            <div>
              <h3 class="no-margin">{{_data.name}}</h3>
            </div>
          </div>
          <div class="flexbox align-items-center mt-25">
            <div>
              <p class="no-margin">{{_data.value | number : '1.3-3'}}</p>
            </div>
            <div class="text-right">
              <p class="no-margin"><span class="text-success">+5.35%</span></p>
            </div>
          </div>
        </div>
        <div *ngFor="let _data of goldValue" class="box box-body pull-up">
          <div class="media align-items-center p-0">
            <div class="text-center">
              <a href="#"><i class={{_data.icon}} title="BTC"></i></a>
            </div>
            <div>
              <h3 class="no-margin">{{_data.name}}</h3>
            </div>
          </div>
          <div class="flexbox align-items-center mt-25">
            <div>
              <p class="no-margin">{{_data.value | number : '1.3-3'}} ₺</p>
            </div>
            <div class="text-right">
              <p class="no-margin"><span class="text-success">+5.35%</span></p>
            </div>
          </div>
        </div>
      </div>





    </div>

    <div class="row">
        <div class="box box-inverse bg-dark bg-hexagons-white">
            <div class="box-body">
              <h3 class="subtitle text-center ">Para Birimi Çevirici</h3>
              <div class="row">
                <div class="col-12">
                  <div class="exchange-calculator text-center mt-35">
                    <input [(ngModel)]="money_1_amount" (change)="moneyExchange_1()"  style="margin-right:10px" type="text" class="form-control" name="coins-exchange" placeholder="">                
                    <select [(ngModel)]="money_1_type" (change)="change_money_1($event.target.value)" class="coins-exchange" name="state" tabindex="-1" aria-hidden="true">
                        <option *ngFor="let _data of specifiedData" selected="DOLAR" [value]="_data.name">{{_data.name}}</option>
                       </select>
                    <div class="equal"> = </div>                   
                    <select [(ngModel)]="money_2_type" (change)="change_money_2($event.target.value)"  class="money-exchange"  tabindex="-1" aria-hidden="true">
                       <option *ngFor="let _data of specifiedData" [value]="_data.name">{{_data.name}}</option>
                       </select>
                       <input [(ngModel)]="money_2_amount" (change)="moneyExchange_2()"  type="text" style="margin-left:10px" class="form-control" name="money-exchange" placeholder="">
                   </div>
                </div>
              </div>
            </div>
          </div>
    </div>

  </section>
  <!-- /.content -->
</div>