<body class="hold-transition skin-yellow sidebar-mini">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="wrapper">
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Chats
        </h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="breadcrumb-item"><a href="#">Examples</a></li>
          <li class="breadcrumb-item active">Chats</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">

        <div class="row">
          <!-- /.col -->
          <div class="col-lg-9 col-md-12">
            <div class="box direct-chat">
              <div class="box-header with-border">
                <h3 class="box-title">Chat Message</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <!-- Conversations are loaded here -->
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 600px;">
                  <div id="chat-app" class="direct-chat-messages chat-app"
                    style="width: auto; height: 600px;">
                    <!-- Message. Default to the left -->
                    <div *ngFor="let _answer of answer">
                      <div *ngIf="_answer.fu_id != 0" class="direct-chat-msg mb-30">
                        <div class="clearfix mb-15">
                          <span class="direct-chat-name">Finans Uzmanı</span>
                          <span class="direct-chat-timestamp pull-right">{{dateFormat(_answer.date)}} </span>
                        </div>
                        <!-- /.direct-chat-info -->
                        <img class="direct-chat-img avatar" src="../../assets/images/user1-128x128.jpg"
                          alt="message user image">
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                         {{_answer.answer}}
                        </div>
  
                        <!-- /.direct-chat-text -->
                      </div>
                      
                      <div *ngIf="_answer.fu_id == 0" class="direct-chat-msg right mb-30">
                        <div class="clearfix mb-15">
                          <span class="direct-chat-name pull-right">{{user.first_name}} {{user.last_name}}</span>
                          <span class="direct-chat-timestamp ">{{dateFormat(_answer.date)}}</span>
                        </div>
                        <!-- /.direct-chat-info -->
                        <img class="direct-chat-img avatar" src="../../assets/images/user3-128x128.jpg"
                          alt="message user image">
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                          {{_answer.answer}}
                        </div>
                        <!-- /.direct-chat-text -->
                      </div>
                    </div>
                    
                    <!-- /.direct-chat-msg -->

                    <!-- Message to the right -->
                    
                    
                    <!-- /.direct-chat-msg -->

                  </div>
                  <div class="slimScrollBar"
                    style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 455.696px;">
                  </div>
                  <div class="slimScrollRail"
                    style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
                  </div>
                </div>
                <!--/.direct-chat-messages-->
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <form action="#" method="post">
                  <div class="input-group">
                    <input type="text" [(ngModel)]="message" [ngModelOptions]="{standalone: true}" name="message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-btn">
                      <button (click) = "sendMessage()" class="btn btn-warning">Send</button>
                    </span>
                  </div>
                </form>
              </div>
              <!-- /.box-footer-->
            </div>
            <!-- /. box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

      </section>
      <!-- /.content -->
    </div>
    <app-footer></app-footer>
    <app-control-sidebar></app-control-sidebar>
  </div>

</body>