<body class="hold-transition skin-yellow sidebar-mini">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="wrapper">
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">BORSA</h3>

                                <div class="box-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" [(ngModel)]="searchText" name="table_search" class="form-control pull-right"
                                            placeholder="Ara">

                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i
                                                    class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <th>Hisse Adı</th>
                                                <th>Değer</th>
                                                <th>Değişim</th>
                                                <th>Hacim (TL)</th>
                                                <th>Güncelleme</th>
                                                <th *ngIf="isLogged">Favori</th>
                                            </tr>
                                            <tr *ngFor="let _exchange of data |  searchV2 : searchText">
                                                <td>{{_exchange.name}}</td>
                                                <td>{{_exchange.price}}</td>
                                                <td>{{_exchange.change}} </td>
                                                <td>{{_exchange.volume}}</td>
                                                <td> <span class="text-muted"><i class="fa fa-clock-o"></i> 20/05/2019 </span></td>
                                                <th *ngIf="isLogged"><label class="toggler toggler-danger font-size-16">
                                                    <input (click)="removeFavorite(_exchange.name,_exchange.favoriteId)" *ngIf="_exchange.isFavorite==1" type="checkbox" checked="">
                                                    <input (click)="addFavorite(_exchange.name)" *ngIf="_exchange.isFavorite==0" type="checkbox" >
                                                      <i class="fa fa-heart"></i>
                                                    </label></th>
                                            </tr>
                                          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </section>
        </div>
        <app-footer></app-footer>
    <app-control-sidebar></app-control-sidebar>
    </div>
    
</body>