<body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="../../index.html"><b>Crypto</b>Admin</a>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body pb-20">
        <p class="login-box-msg text-uppercase">Şifremi Yenile</p>
    
        <form action="../../index.html" method="post" class="form-element">
          <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email">
            <span class="ion ion-email form-control-feedback"></span>
          </div>      
          <div class="row">
            <!-- /.col -->
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-info btn-block text-uppercase">Yenile</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
    
      </div>
      <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    
</body>    