<body class="hold-transition register-page">
    <div class="register-box">
    
      <div class="register-box-body">
        <div class="register-logo">
        <a [routerLink] = "['/']" style="text-decoration: none"><b>HEY</b>BORSA</a>
        </div>
        <p class="login-box-msg">Kayıt Ol</p>
    
        <form class="form-element">
          <div class="form-group has-feedback">
            <input type="text" [(ngModel)] = 'first_name' [ngModelOptions]="{standalone: true}"
             class="form-control" placeholder="İsim" required>
            <span class="ion ion-person form-control-feedback "></span>
          </div>
          <div class="form-group has-feedback">
            <input type="text" [(ngModel)] = 'last_name' [ngModelOptions]="{standalone: true}"
            class="form-control" placeholder="Soyisim" required>
            <span class="ion ion-person form-control-feedback "></span>
          </div>
          <div class="form-group has-feedback">
            <input type="email" [(ngModel)] = 'email' [ngModelOptions]="{standalone: true}"
             class="form-control" placeholder="Email" required>
            <span class="ion ion-email form-control-feedback "></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" [(ngModel)] = 'password' [ngModelOptions]="{standalone: true}"
            class="form-control" placeholder="Şifre" required>
            <span class="ion ion-locked form-control-feedback "></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" [(ngModel)] = 'password_again' [ngModelOptions]="{standalone: true}"
            class="form-control" placeholder="Yeniden Şifre" required>
            <span class="ion ion-log-in form-control-feedback "></span>
          </div>
          <div class="form-group has-feedback">
            <input type="tel" [(ngModel)] = 'telephone' [ngModelOptions]="{standalone: true}"
            class="form-control" placeholder="Telefon Numarası" required>
            <span class="ion ion-person form-control-feedback "></span>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="checkbox">
                <input type="checkbox" id="basic_checkbox_1" >
          <label for="basic_checkbox_1">Sözleşmeyi<a href="#"><b> Kabul Ediyorum</b></a></label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-12 text-center">
              <button (click) = "register()" class="btn btn-info btn-block margin-top-10">Kayıt Ol</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
     
        
         <div class="margin-top-20 text-center">
          <p>Zaten Hesabın Var mı ?<a [routerLink]= "['/login']" class="text-info m-l-5"> Giriş Yap</a></p>
         </div>
        
      </div>
      <!-- /.form-box -->
    </div>
    